<body>
    <%- include('./partials/header.ejs') %> 
    <div class="container p-3">
        <a class="btn btn-outline-info admin-button" href="/alhera2023admin">Admin Panel</a>
      </div>
    <!-- Form  -->
<div style="max-width: 600px;" class="container text-white mt-5 border p-4">
    <div class="container text-warning">
        <h1>Teachers Ragister Form</h1>
    </div>

    <%- include('./partials/error.ejs') %>
    
    
    <form action="/register/addNewTeacher" method="POST" enctype="multipart/form-data">
        <div class="container text-dark mt-5">
            <div class="row mt-3">
                <div class="col">
                    <div class="flex-column justify-content-end">
                        <div>
                            <img style="border-radius: 50%; max-height: 100px;max-width: 100px;" src="/img/profile.png" alt="pic">
                        </div>
                        <div class="mt-2">
                            <input type="file" name="avatar" required>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row mt-3">
                        <div class="form-group p-0">
                        <select class="form-control" name="campus">
                            <option value="">Select Campus</option>
                            <option value="khulshi_campus">Khulshi Campus</option>
                            <option value="kadamtali_campus">Kadamtali Campus</option>
                            <option value="majhirghat_campus">Majhirghat Campus</option>
                        </select>
                        </div>
                    </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <h6><label for="name">Full name</label></h6>
                </div>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="name" placeholder="First name" value="<% if (locals.message != null) {%><%= message.name %><% } %>" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <h6><label for="address">Address</label></h6>
                </div>
                <div class="col-lg-8">
                    <input type="text" class="form-control address" name="address" placeholder="address" value="<% if (locals.message != null) {%><%= message.address %><% } %>" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <h6><label for="qualifications">Qualifications</label></h6>
                </div>
                <div class="col-lg-8">
                    <input type="text" class="form-control institute" name="qualifications" placeholder="College/University" value="<% if (locals.message != null) {%><%= message.qualifications %><% } %>" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <h6><label for="email">Email</label></h6>
                </div>
                <div class="col-lg-8">
                    <input type="text" class="form-control email" name="email" placeholder="email" value="<% if (locals.message != null) {%><%= message.email %><% } %>" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <h6><label for="mobile">Mobile</label></h6>
                </div>
                <div class="col-lg-8">
                    <input type="text" class="form-control email" name="mobile" placeholder="mobile" value="<% if (locals.message != null) {%><%= message.mobile %><% } %>" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <h6><label for="tel">Password</label></h6>
                </div>
                <div class="col-lg-8">
                    <input type="text" class="form-control email" name="password" placeholder="password" value="<% if (locals.message != null) {%><%= message.password %><% } %>" required>
                </div>
            </div>
            <div class="row d-flex justify-content-end mt-4 mr-3">
                <input class="btn btn-success mr-2" name="submit" type="submit" value="Ragister">
            </div>
        </div>
    </form>
    
</div>


</body>