<body>
  <%- include("./partials/header.ejs") %>

  <div class="container f p-3 text-center">
    <%  if(locals.class_name){%>
       <h1 class="welcomeMsg"><%=locals.class_name%></h1>
      <% } %> 
  </div>
  
  <div class="container d-flex justify-content-end">
    <a href="/teachers/classActivities" class="btn btn-outline-info">Class activities</a>
  </div>
  <div class="container pb-5">
    <div style="max-width: 400px;" class="p-4">
      <div class="container">
        <h6>Generate Student List</h6>
        <input type="hidden" id="class_name" name="class_name" value="<%=locals.class_name%>">
        <input type="hidden" id="p" name="p">
        <input type="hidden" id="a" name="a">
      </div>
      <div class="form-group">
        <select class="form-control" id="section_name" name="section_name">
            <option value="">Select Section</option>
            <% if (locals.section_name != null) { section_name.forEach(c => {%>
                <option value="<%= c.section_name %>"><%= c.section_name %></option>
            <%}) }%>
        </select>
      </div>
      <div class="form-group">
      <select class="form-control" id="shift_name" name="shift_name">
          <option value="">Select Shift</option>
          <% if (locals.shift_name != null) {shift_name.forEach(c => {%>
              <option value="<%= c.shift_name %>"><%= c.shift_name %></option>
          <% }) }%>
      </select>
    </div>
    <button class="btn btn-outline-dark" id="generate">Generate</button>
    </div>
    <div class="container p-3 f">
      <table class="table">
        <thead class="thead-light">
          <tr class="text-center">
            <th>Avatar</th>
            <th>SID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th class="bg-success">Present</th>
            <th class="bg-danger">Absent</th>
            <th>TP</th>
            <th>TA</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
     
      <div id="hideAfterSubmission">
        <div class="container d-flex justify-content-end">
        <button name="submit" class="btn btn-outline-success submitBox">Submit attendance</button>
        </div>
      </div>
    </div>
    
  </div>
<script>
  let d = new Date()
     let h = d.getHours()
     if (h < 9 || h > 10) {
      function getCookie(cname) {
  let name = cname + "=";
  let ca = document.cookie.split(';');
  for(let i = 0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

function checkCookie() {
  let user = getCookie("username");
  if (user != "") {
    $('.submitBox').hide()
  }
}

}
  $(document).ready(() => {
    $("#generate").click(() => {
      let class_name = $("#class_name").val()
      let section_name = $("#section_name").val()
      let shift_name = $("#shift_name").val()
      $.ajax({
        url: `/students/getstudents`,
        type: "post",
        data: {
          class_name: class_name,
          section_name: section_name,
          shift_name: shift_name
        },
        success: (data) => {
          if (data == `No student available in this section!`) {
            alert(data)
          } else {
            $("tbody").empty()
            let std = 1;
            data.forEach(user => {
              $("tbody").prepend(`
          <tr>
              <td>
                <img style="border-radius: 8px; max-height: 70px; max-width: 70px" src="/uploadedFiles/${user.file}"
                  alt="Avatar" />
              </td>
              <td class="text-center">
                ${user.sid}
              </td>
              <td>
                <form action="/students/login" method="post">
                  <input type="hidden" name="name" value="${user.nameEnglish}" />
                  <input type="hidden" name="password" value="${user.password}" />
                  <input class="btn btn-outline-dark" type="submit" name="submit" value="${user.nameEnglish}" />
                </form>
              </td>
              <td class="text-center">
                ${user.emergencyContact}
              </td>
              <td class="text-center">
                <div class="form-check-inline">
                  <label class="form-check-label" for="radio1">
                    <input type="radio" attdType="present" id="" name="attendance${std}" class="form-check-input" value="${user.sid}">
                    Present
                  </label>
                </div>
              </td>
              <td class="text-center">
                <div class="form-check-inline">
                  <label class="form-check-label" for="radio2">
                    <input type="radio" attdType="absent" name="attendance${std}" class="form-check-input" value="${user.sid}">
                    Absent
                  </label>
                </div>
              </td>
              <td class="text-center">
                ${user.presence}
              </td>
              <td class="text-center">
                ${user.absence}
              </td>
            </tr>
          `)
            std++
            });
            
          }
         
        }
      })
    })

     let present = [];
     let absent = [];

     function removeTheIdFromAbsent(v) {
      let indexOfid = absent.indexOf(v)
        absent = absent.splice(indexOfid,indexOfid)
     }

     function removeTheIdFromPresent(v) {
      let indexOfid = present.indexOf(v)
      present = present.splice(indexOfid,indexOfid)
     }

     $("body").on("click", `input[type="radio"]`, (e) => {
      let val = event.target.getAttribute("value");
      let attdType = event.target.getAttribute("attdType");
        if (attdType == 'present') {
        if (absent.includes(val) == true) {
          removeTheIdFromAbsent(val)
        }
        present.push(val);
      } else if (attdType == 'absent') {
        if (present.includes(val) == true) {
          removeTheIdFromPresent(val)
        }
        absent.push(val);
      }
     })

   $("button").click(function (event) {
     let name = event.target.getAttribute("name");
     let class_name = $("#class_name").val()
      $("#p").val(present)
      $("#a").val(absent)
     if (name == "submit") {
      document.getElementById("hideAfterSubmission").style.display = 'none';
      event.target.classList.add('bg-success')
       event.target.classList.add('text-light')
      let present_ = $("#p").val()
      let absent_ = $("#a").val()
       alert('Attendance submitted successfully!')
       $.ajax({
         url: "/attendance/submit",
         type: 'POST',
         data: {
           present: present_,
           absent: absent_,
           class_name: class_name
         },
         success: (data) => {
          alert(data)
         },
       });
     }
   });
   })
</script>
</body>
