<body id="body" style="font-family: poppins;">
    <!-- Complete and Final Student profile with Blank Highest mark -->
<%- include("./partials/header.ejs") %>
    <% if (locals.message !=null) { %>
        <div class="container mt-3">
            <% if (message.result.editButton !=='' ) { %>
                <div class="container text-info text-center">
                    <form action="/students/updateProfile" method="POST">
                        <input type="hidden" name="sid"
                            value="<% if (locals.message != null) {%><%= message.result.sid %><%}%>">
                        <input type="hidden" name="campus"
                            value="<% if (locals.message != null) {%><%= message.result.campus %><%}%>">
                        <button class="btn btn-outline-info" type="submit">
                            <%= message.result.editButton %>
                        </button>
                    </form>
                </div>
                <% } %>
                    
                    <div class="container-fluid border mt-3 f p-2">
                        <% if (message.result.file == '' ) { %>
                            <form action="/register/studentPictures" method="POST" enctype="multipart/form-data">
                                <div class="flex-column justify-content-end">
                                    <div>
                                        <h6>Upload Profile picture</h6>
                                    </div>
                                    <div class="flex-column justify-content-end">
                                        <div>
                                            <img style="border-radius: 50%; max-height: 100px;max-width: 100px;" src="/img/profile.png" alt="pic">
                                        </div>
                                        <div class="mt-2">
                                            <input type="file" name="avatar">
                                        </div>
                                    </div>
                                </div>
                                <div class="container ip mt-4">
                                    <input type="hidden" name="sid" value="<%= message.result.sid %>">
                                    <input type="hidden" name="campus" value="<%= message.result.campus %>">
                                    <input class="btn btn-success mr-2" name="submit" type="submit" value="Upload">
                                </div>
                            </form>
                    
                            <% } else { %>
                                <div class="row p-3 mt-3">
                                    <div class="col">
                                        <div class="flex-column justify-content-end">
                                            <img style="border-radius: 8px; max-height: 150px;max-width: 150px;"
                                                src="/uploadedFiles/<%= message.result.file %>" alt="<%= message.result.file %>">
                                        </div>
                                    </div>
                                </div>
                                
                            <% } %>
                    </div>
        </div>

        <div class="container pb-5">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#personal">Personal Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#parentsInfo">Parents Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#addr">Address</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Other">Other Info</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link" name="payment"
                        sid="<%=message.result.sid%>" data-toggle="tab" href="#pay">Payment Info</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#resultDiv">Result</a>
                    
                </li>
                <li class="nav-item">
                    <button name="notifyButton"
                        addr="/announce/noticeBoard/<%=message.result.campus%>/<%=message.result.sid%>" type="button"
                        class="nav-link btn btn-info" data-toggle="tab" href="#notice">
                        Notice <% if (message.result.notify> 0) { %>
                            <span class="badge badge-light" id="notify">
                                <%= message.result.notify %>
                            </span>
                            <% } %>
                    </button>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container p active" id="personal">
                    <div class="contianer mt-3">
                        <h5 class="text-success">Personal Info :</h5>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="name">SID :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.sid %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="name">Roll No :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.roll %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="name">Name in English :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.nameEnglish %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="fName">Name in Bangla :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.nameBangla %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Class :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.preferredClass %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="db">Grade Points :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.gradePoint %>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="nid">Previous Institute :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.previousInstitute %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mName">Previous Class :</label></h6>
                                </div>
                                <div class="col">
                                    <h6>
                                        <%= message.result.previousClass %>
                                    </h6>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Preferred Section :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.preferredSection %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Preferred Shift :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.shift %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Date of Birth :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.dateOfBirth %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Blood Group :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.bloodGroup %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container p fade" id="parentsInfo">
                    <div class="contianer mt-3">
                        <h5 class="text-success">Parents Info :</h5>
                    </div>

                    <div class="container-fluid border mt-3 f">
                        <% if (message.result.FPIC !=='' ) { %>
                            <div class="row p-3 mt-3">
                                <div class="col">
                                    <div class="flex-column justify-content-end">
                                        <img style="border-radius: 8px; max-height: 150px;max-width: 150px;"
                                            src="/uploadedFiles/<%= message.result.FPIC %>" alt="Fathers Picture">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="flex-column justify-content-end">
                                        <img style="border-radius: 8px; max-height: 150px;max-width: 150px;"
                                            src="/uploadedFiles/<%= message.result.MPIC %>" alt="Mothers Picture">
                                    </div>
                                </div>
                            </div>
                            <% } else { %>
                                <form action="/register/parentsPictures" method="POST" enctype="multipart/form-data">
                                    <div class="flex-column justify-content-end">
                                        <div>
                                            <h6>Upload parents pictures</h6>
                                        </div>
                                        <div class="mt-2 d-column">
                                            <div class="container d-flex">
                                                Fathers Pic - <input type="file" name="photos" required>
                                                Mothers Pic - <input type="file" name="photos">
                                            </div>
                                            <!-- <div class="container d-flex mt-2">
                                                Fathers NID - <input type="file" name="photos">
                                                Mothers NID - <input type="file" name="photos">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="container ip mt-4">
                                        <input type="hidden" name="sid" value="<%= message.result.sid %>">
                                        <input class="btn btn-success mr-2" name="submit" type="submit" value="Upload">
                                    </div>
                                </form>
                                <% } %>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="name">Fathers name (Bangla) :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.fNameBangla %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="fName">Fathers name (English) :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.fNameEnglish %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mName">Fathers NID :</label></h6>
                                </div>
                                <div class="col">
                                    <h6>
                                        <%= message.result.fNID %>
                                    </h6>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="db">Fathers Occupation :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.fOccupation %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Fathers Blood Group :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.fBloodGroup %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Fathers Educational Qualification :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.fEQualification %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Fathers Mobile No :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.fMobile %>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Mothers name (Bangla) :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.mNameBangla %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Mothers name (English) :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.mNameEnglish %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Mothers NID :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.mNID %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Mothers Occupation :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.mOccupation %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Mothers Blood Group :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.mBloodGroup %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Mothers Educational Qualification :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.mEQualification %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="mobile">Mothers Mobile No :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.mMobile %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container p fade" id="addr">
                    <div class="row">
                        <div class="col-md">
                            <div class="contianer mt-3">
                                <h5 class="text-success">Permanent Address</h5>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="vlg">Village :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.vlg %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="po">Post Office :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.po %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="ps">Upozilla/P.S :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.ps %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="dist">District :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.dist %>
                                </div>
                            </div>

                        </div>
                        <div class="col">
                            <% if (message.result.addressAreSame) {%>
                                <div class="container p-0 mt-3">

                                    <strong>Note:</strong>&nbsp;<%= message.result.addressAreSame %>

                                </div>
                                <% } else {%>
                                    <div class="contianer mt-3">
                                        <h5 class="text-success">Present Address</h5>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm">
                                            <h6><label for="vlg">Village :</label></h6>
                                        </div>
                                        <div class="col">
                                            <%= message.result.pvlg %>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm">
                                            <h6><label for="po">Post Office :</label></h6>
                                        </div>
                                        <div class="col">
                                            <%= message.result.ppo %>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm">
                                            <h6><label for="ps">Upozilla/P.S :</label></h6>
                                        </div>
                                        <div class="col">
                                            <%= message.result.pps %>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm">
                                            <h6><label for="dist">District :</label></h6>
                                        </div>
                                        <div class="col">
                                            <%= message.result.pdist %>
                                        </div>
                                    </div>
                                    <% } %>
                        </div>

                    </div>
                </div>
                <div class="tab-pane container p fade" id="Other">
                    <div class="row">
                        <div class="col-md">
                            <div class="contianer mt-3">
                                <h5 class="text-success">Other Info</h5>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="eduQua">Emergency contact number :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.emergencyContact %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="institute">Residential service :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.residentialService %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="prof">Transport service :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.transportService %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="natn">Major deases :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.deasesQuery %>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <h6><label for="rlg">Deases Details :</label></h6>
                                </div>
                                <div class="col">
                                    <%= message.result.deasesDetailes %>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
                <% } %>
                    <div class="tab-pane container p fade" id="pay">
                        <div class="container p-3">
                            <table class="table table-bordered">
                                <thead>
                                    <th>Date</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Status</th>
                                </thead>
                                <tbody id="paymentInfo">

                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="tab-pane container p fade border" id="resultDiv">
                        <div class="container d-flex p-2 mt-3">
                            <button id="getResult_1" class="btn btn-outline-dark p-2" term="First Term" name="result" campus="<%=message.result.campus%>"
                            cid="<%=message.result.cid%>" cname="<%=message.result.preferredClass%>" shift="<%=message.result.shift%>" sid="<%=message.result.sid%>">First Term Result</button>
                            <button id="getResult_2" class="btn btn-outline-dark p-2" term="Mid Term" name="result" campus="<%=message.result.campus%>"
                                cid="<%=message.result.cid%>" cname="<%=message.result.preferredClass%>" shift="<%=message.result.shift%>" sid="<%=message.result.sid%>">Mid Term Result</button>
                                <button id="getResult_3" class="btn btn-outline-dark p-2" term="Annual Term" name="result" campus="<%=message.result.campus%>"
                                    cid="<%=message.result.cid%>" cname="<%=message.result.preferredClass%>" shift="<%=message.result.shift%>" sid="<%=message.result.sid%>">Annual Term Result</button>
                            <button onclick="takePrint()" class="btn btn-outline-info ml-2 p-2" id="printBtn">Print</button>
                        
                        </div>
                        <div class="container errorMsg">
                            <div class="container text-center" style="max-width: 400px;">
                                <div class="alert alert-danger">
                                Result is not available!
                                </div>
                            </div>
                        </div>
                        <div id="takePrint">
                            <div style="border: 8px solid black;padding: 4px;">
                                <div class="container text-center" style="margin-top: -10px;">
                                    <h1 style="font-weight: bolder;font-size: 38px;font-family: poppins;color: rgb(219, 13, 205);">AL-HERA IDEAL
                                        MADRASAH [AIM]</h1>
                                    <h4 style="margin-top: -10px;font-family: poppins;">(An Exceptional Arabic & English Medium Madrasah)</h4>
                                    <h4 style="margin-top: -10px;font-family: poppins;">Block C, Road No-01, South Khulshi, Chattogram.</h4>
                                </div>
                                <div class="row" style="padding: 0px 20px 0px 20px;">
                                    <div class="col align-self-end">
                                        <table class="d-flex">
                                            <thead>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="conainer p-0">
                                                            <% if (locals.message) { %>
                                                                <img class="align-self-end" src="/uploadedFiles/<%= message.result.file %>"
                                                                    alt="<%= message.result.file %>" alt="Quran" height="140px" width="auto">
                                                                <% } %>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- <div class="container">
                                                                    <img class="align-self-end" src="/img/studentPhoto.jpg" alt="Quran" height="150px" width="auto">
                                                                </div> -->
                                    </div>
                                    <div class="col">
                                        <table class="d-flex justify-content-center">
                                            <thead>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="conainer text-center p-0">
                                                            <img src="/img/logo.png" alt="Quran" height="160px" width="auto" style="margin-top: 15px;">
                                                            <h3 style="text-decoration: underline;font-weight: bolder;color: rgb(166, 129, 9);">ACADEMIC TRANSCRIPT</h3>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col text-center d-flex justify-content-end">
                                        <table class="customTable" style="font-size: 11px;font-family: poppins;">
                                                                    <thead style="font-family: poppins;">
                                                                        <th style="border: 1px solid black;" class="text-center p-1">Letter Grade</th>
                                                                        <th style="border: 1px solid black;" class="text-center p-1">Marks</th>
                                                                        <th style="border: 1px solid black;" class="text-center p-1">Point Grade</th>
                                                                        <th style="border: 1px solid black;padding: 0px 10px 0px 10px;" class="text-center">Comments</th>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>A+</td>
                                                                            <td>80-100</td>
                                                                            <td>4.00</td>
                                                                            <td>Excellent</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>A</td>
                                                                            <td>75-79</td>
                                                                            <td>3.75</td>
                                                                            <td rowspan="2">Very Good</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>A-</td>
                                                                            <td>70-74</td>
                                                                            <td>3.50</td>
                                                                            
                                                                        </tr>
                                                                        <tr>
                                                                            <td>B+</td>
                                                                            <td>65-69</td>
                                                                            <td>3.25</td>
                                                                            <td rowspan="2">Good</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>B</td>
                                                                            <td>60-64</td>
                                                                            <td>3.00</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>B-</td>
                                                                            <td>55-59</td>
                                                                            <td>2.75</td>
                                                                            <td rowspan="2">Satisfactory</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>C+</td>
                                                                            <td>50-54</td>
                                                                            <td>2.50</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>C</td>
                                                                            <td>45-49</td>
                                                                            <td>2.25</td>
                                                                            <td rowspan="2">Pass</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>D</td>
                                                                            <td>40-44</td>
                                                                            <td>2.00</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>F</td>
                                                                            <td>00-32</td>
                                                                            <td>0.00</td>
                                                                            <td>Fail</td>
                                                                        </tr>
                                                                
                                                                    </tbody>
                                                                </table>
                                    </div>
                                </div>
                                <div class="row" style="font-family: poppins;font-size: 21px;padding: 5px 0px 15px 20px;">
                                    <div class="col">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td style="padding: 0px 10px 0px 0px;">Name of Student</td>
                                                    <td>:&nbsp;<strong>
                                                            <%= message.result.nameEnglish %>
                                                        </strong></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 10px 0px 0px;">Father's Name</td>
                                                    <td>:&nbsp;<strong>
                                                            <%= message.result.fNameEnglish %>
                                                        </strong></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 10px 0px 0px;">Mother's Name</td>
                                                    <td>:&nbsp;<strong>
                                                            <%= message.result.mNameEnglish %>
                                                        </strong></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 10px 0px 0px;">Student ID</td>
                                                    <td>:&nbsp;<strong>
                                                            <%= message.result.sid %>
                                                        </strong></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 10px 0px 0px;">Roll No</td>
                                                    <td>:&nbsp;<strong>
                                                        <%= message.result.roll %>
                                                        </strong></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 10px 0px 0px;">Class</td>
                                                    <td>:&nbsp;
                                                        <% let Pclass="" ; switch (message.result.preferredClass) { case "Class 6" : Pclass="Class Six" ; break;
                                                            case "Class 5" : Pclass="Standard-V" ; break; case "Class 4" : Pclass="Standard-IV" ; break; case "Class 3"
                                                            : Pclass="Standard-III" ; break; case "Class 2" : Pclass="Standard-II" ; break; case "Class 1" :
                                                            Pclass="Standard-I" ; break; case "Nursery" : Pclass="Nursery" ; break; case "K.G" : Pclass="K.G" ; break; }
                                                            %>
                                                            <strong>
                                                                <%= Pclass %>
                                                            </strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Exam</td>
                                                    <td style="padding: 0px 150px 0px 0px;">:&nbsp;<strong>
                                                            First Term
                                                        </strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Year / Session</td>
                                                    <td>:&nbsp;<strong>
                                                            2024
                                                        </strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Section</td>
                                                    <td>:&nbsp;<strong>
                                                            <%= message.result.preferredSection %>
                                                        </strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Shift</td>
                                                    <td>:&nbsp;<strong>
                                                            <%= message.result.shift %>
                                                        </strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Department</td>
                                                    <td>:&nbsp;<strong>
                                                            Kindergarten
                                                        </strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="container-fluid p-0 d-flex justify-content-center">
                            
                                    <!-- <table class="table table-sm table-bordered"> -->
                                    <table class="customTable">
                                        <thead style="font-size: 20px;" class="text-center">
                                            <th style="border: 1px solid black;padding: 0px 10px 0px 10px;" class="text-center">Name of Subjects</th>
                                            <th style="border: 1px solid black;padding: 0px 10px 0px 10px;" class="text-center">Full Marks</th>
                                            <th style="border: 1px solid black;padding: 0px 10px 0px 10px;" class="text-center">Highest Marks</th>
                                            <th style="border: 1px solid black;padding: 0px 10px 0px 10px;" class="text-center">Obtaining Marks</th>
                                            <th style="border: 1px solid black;padding: 0px 10px 0px 10px;" class="text-center">Grade Point</th>
                                            <th style="border: 1px solid black;padding: 0px 10px 0px 10px;" class="text-center">Letter Grade</th>
                                        </thead>
                            
                                        <tbody id="marksheet">
                            
                                        </tbody>
                                    </table>
                                </div>
                            
                                <div class="container d-flex justify-content-center mt-3" id="addInfoDiv">
                                    <table class="customTable" style="font-size: 18px;">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 0px 0px 0px 10px;">Additional of GP</td>
                                                <td id="firstTermAdGP" class="text-center" style="padding: 0px 80px 0px 80px;"></td>
                                                <td style="padding: 0px 0px 0px 10px;">Comments</td>
                                                <td id="comment" style="padding: 0px 80px 0px 80px;" class="text-center"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0px 10px 0px 10px;">Cumulative Grade Point Average (CGPA)</td>
                                                <td id="firstTermGradeP" class="text-center"></td>
                                                <td style="padding: 0px 60px 0px 10px;">Failed Subjects</td>
                                                <td id="failedSubject" style="padding: 0px 80px 0px 80px;" class="text-center"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0px 0px 0px 10px;">Letter Grade (L.G)</td>
                                                <td id="firstTermLGrade" class="text-center"></td>
                                                <td style="padding: 0px 0px 0px 10px;">Working Days</td>
                                                <td style="padding: 0px 80px 0px 80px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0px 0px 0px 10px;">Result Status</td>
                                                <td id="resultStatus" style="padding: 0px 80px 0px 80px;" class="text-center"></td>
                                                <td style="padding: 0px 0px 0px 10px;">Total Present</td>
                                                <td style="padding: 0px 80px 0px 80px;" class="text-center"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0px 0px 0px 10px;">Position</td>
                                                <td id="rankPosition" style="padding: 0px 80px 0px 80px;" class="text-center"></td>
                                                <td style="padding: 0px 0px 0px 10px;">Total Absent</td>
                                                <td style="padding: 0px 80px 0px 80px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <% if (message.result.preferredClass == "Class 4" || message.result.preferredClass == "Class 5") { %>
                                        <div style="height: 70px;" class="gap"></div>
                                        <% } else if (message.result.preferredClass == "Nursery" || message.result.preferredClass == "K.G") { %>
                                            <div style="height: 250px;" class="gap"></div>
                                        <% } else if (message.result.preferredClass == "Class 1" || message.result.preferredClass == "Class 2" || message.result.preferredClass == "Class 3") { %>
                                            <div style="height: 150px;" class="gap"></div>
                                        <% } %>
                                <div class="row text-center" style="padding-bottom: 10px;">
                                    <div class="col">
                                        <h3>_____________________________</h3>
                                        <h4><strong>Signature of class teacher</strong></h4>
                                    </div>
                                    <div class="col">
                                        <h3>_____________________________________</h3>
                                        <h4><strong>Signature of controller examination</strong></h4>
                                    </div>
                                    <div class="col">
                                        <h3>________________________</h3>
                                        <h4><strong>Signature of Principal</strong></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        
        <script>
            $(document).ready(() => {
                $("#takePrint").hide()
                $("#printBtn").hide()
                $("#topMargin").hide()
                $(".errorMsg").hide()
                $('button').click((event) => {
                    let name = event.target.getAttribute('name')
                    let term = event.target.getAttribute('term')
                    let addr = event.target.getAttribute('addr')
                    let sid = event.target.getAttribute('sid')
                    let cid = event.target.getAttribute('cid')
                    let cname = event.target.getAttribute('cname')
                    let shift = event.target.getAttribute('shift')

                    if (name == 'notifyButton') {
                        $('#notify').hide()
                        window.location.replace(`${addr}`)
                    } else if (name == 'payment') {
                        $.ajax({
                            url: '/payment/info',
                            type: 'POST',
                            data: {
                                sid: sid,
                            },
                            success: (data) => {
                                $('#paymentInfo').empty()
                                for (let i = 0; i < data.length; i++) {
                                    const info = data[i];

                                    $('#paymentInfo').append(`<tr>
                                <td>${info.date}</td>
                                <td class="text-center">${info.amount}</td>
                                <td class="text-center">${info.paymentDisc}</td>
                                <td class="text-center">${info.status}</td>
                                </tr>`)
                                }
                            }
                        })
                    } else if (name == 'result') {
                        $("#takePrint").hide()
                        $(".errorMsg").hide()
                        $("#printBtn").hide()
                        $.ajax({
                            url: `/result/getResult/${sid}`,
                            type: 'POST',
                            data: { cid: cid, campus: campus, term: term, cname: cname, shift: shift },
                            success: (data) => {
                                if (data[0] == "Result is not available!") {
                                    $(".errorMsg").show()
                                    return;
                                }
                                $(".errorMsg").hide()
                                $("#takePrint").show()
                                $("#printBtn").show()
                                let subjects = data[0][0][2]
                                let fullMarks = data[0][0][3]
                                let highestMarks = data[1]
                                let ObtainedMarks = data[0][3]
                                
                                let ObtainedGradePoints = data[0][4]
                                let ObtainedLGInSub = data[2]
                                let TotalObtainedMarks = data[0][5]
                                let ObtainedLG = data[0][8]
                                let ObtainedGP = data[0][7]
                                let ObtainedAGP = data[0][6]
                                let rankPosition = data[3]

                                    $('#marksheet').empty()
                                    $(".letterGradeHead").removeClass('hide')
                                    $(".firstTermGradeDiv").removeClass('hide')
                                    for (let i = 0; i < subjects.length; i++) {
                                        let fullM = fullMarks[i]
                                        let s = subjects[i]
                                        let FTR = ObtainedMarks[i]
                                        let FLG = ObtainedLGInSub[i]
                                        let FGP = ObtainedGradePoints[i]
                                        let highestMark = highestMarks[i]
                                        $('#marksheet').append(`<tr>
                                        <td style="font-size:20px;padding:0px 10px 0px 10px;">${s}</td>
                                        <td style="font-size: 19px;" class="text-center"><strong>${fullM}</strong></td>
                                        <td style="font-size: 19px;" class="text-center"><strong>${highestMark}</strong></td>
                                        <td style="font-size: 19px;" class="text-center"><strong>${FTR}</strong></td>
                                        <td style="font-size: 19px;" class="text-center"><strong>${FGP}</strong></td>
                                        <td style="font-size: 19px;" class="text-center"><strong>${FLG}</strong></td>
                                        </tr>`)
                                    }
                                    $('#marksheet').append(`<tr>
                                        <td style="font-size: 20px;padding: 0px 10px 0px 10px;"><strong>Total Exam Marks</strong></td>
                                        <td></td>
                                        <td style="font-size: 20px;padding: 0px 10px 0px 10px;"><strong>Obtained Marks</strong></td>
                                        <td style="font-size: 20px;padding: 0px 10px 0px 10px;" class="text-center"><strong>${TotalObtainedMarks}</strong></td>
                                        <td></td>
                                        <td></td>
                                        </tr>`)
                                    
                                    
                                    let comment;
                                    let queryForFGrade = 0;
                                    if (ObtainedLG == "A+") {
                                        comment = "Excellent"
                                    } else if (ObtainedLG == "A") {
                                        comment = "Very Good"
                                    } else if (ObtainedLG == "A-") {
                                        comment = "Very Good"
                                    } else if (ObtainedLG == "B+") {
                                        comment = "Good"
                                    } else if (ObtainedLG == "B") {
                                        comment = "Good"
                                    } else if (ObtainedLG == "B-") {
                                        comment = "Satisfactory"
                                    } else if (ObtainedLG == "C+") {
                                        comment = "Satisfactory"
                                    } else if (ObtainedLG == "C") {
                                        comment = "Pass"
                                    } else if (ObtainedLG == "D") {
                                        comment = "Pass"
                                    } else if (ObtainedLG == "F") {
                                        comment = "Fail"
                                    }

                                    for (let i = 0; i < ObtainedLGInSub.length; i++) {
                                        const e = ObtainedLGInSub[i];
                                        if (e == "F") {
                                            queryForFGrade++
                                        }
                                    }
                                    
                                    if (queryForFGrade > 0) {
                                        $('#firstTermGradeP').text(`0.00`)
                                        $('#resultStatus').text(`Failed`)
                                        $('#firstTermLGrade').text(`F`)
                                        $('#failedSubject').text(`${queryForFGrade}`)
                                        $('#comment').text(`Failed`)
                                        $('#rankPosition').text(`${rankPosition}`)

                                    } else {
                                        $('#firstTermGradeP').text(`${ObtainedGP}`)
                                        $('#firstTermAdGP').text(`${ObtainedAGP}`)
                                        $('#resultStatus').text(`Passed`)
                                        $('#firstTermLGrade').text(`${ObtainedLG}`)
                                        $('#failedSubject').text(`0`)
                                        $('#rankPosition').text(`${rankPosition}`)
                                        $('#comment').text(`${comment}`)
                                    }

                            }
                        })

                    }
                    else if (name == 'result_old') {

                        // $.ajax({
                        //     url: `/result/getResult/${sid}`,
                        //     type: 'POST',
                        //     data: { cid: cid, campus: campus, term: term, cname: cname, shift: shift },
                        //     success: (data) => {

                        //         let FM = data.getFM;
                        //         let totalMark = 0;
                        //         for (let i = 0; i < FM.length; i++) {
                        //             const e = FM[i];
                        //             Number(e)
                        //             totalMark += e
                        //         }

                        //         let PM = data.getPM;
                        //         let subjects = data.getSub;
                        //         if (data.first_term_allMarks.length <= 0) {

                        //             $('#marksheet').empty()
                        //             for (let i = 0; i < subjects.length; i++) {
                        //                 let fullM = FM[i]
                        //                 let passM = PM[i]
                        //                 let s = subjects[i]
                                        
                        //                 $('#marksheet').append(`<tr>
                        //                 <td style="font-size:20px;padding:0px 10px 0px 10px;">${s}</td>
                        //                 <td style="font-size: 19px;" class="text-center"><strong>${fullM}</strong></td>
                        //                 <td class="text-center"></td>
                        //                 <td style="font-size: 19px;" class="text-center"><strong></strong></td>
                        //                 <td style="font-size: 19px;" class="text-center"><strong></strong></td>
                        //                 <td style="font-size: 19px;" class="text-center"><strong></strong></td>
                        //                 </tr>`)
                        //             }

                        //         } else if (data.second_term_allMarks.length <= 0) {

                        //             let f = data.first_term_allMarks;
                        //             let lg = data.first_term_allMarks[3][0]
                        //             let gp = data.first_term_allMarks[4][0]
                        //             let highestMarks = data.highestMarks
                        //             // $.ajax({
                        //             //     url: `/result/getHighestMark`,
                        //             //     type: "post",
                        //             //     data: {
                        //             //         cid: cid,
                        //             //         campus: campus,
                        //             //         term: "First"
                        //             //     },
                        //             //     success: (data) => {
                                            
                        //             //     }

                        //             // })
                                    
                        //             $('#marksheet').empty()
                        //             $(".letterGradeHead").removeClass('hide')
                        //             $(".firstTermGradeDiv").removeClass('hide')
                        //             for (let i = 0; i < subjects.length; i++) {
                        //                 let fullM = FM[i]
                        //                 let passM = PM[i]
                        //                 let s = subjects[i]
                        //                 let FTR = f[0][i]
                        //                 let FLG = lg[i]
                        //                 let FGP = gp[i]
                        //                 let highestMark = highestMarks[i]
                        //                 $('#marksheet').append(`<tr>
                        //                 <td style="font-size:20px;padding:0px 10px 0px 10px;">${s}</td>
                        //                 <td style="font-size: 19px;" class="text-center"><strong>${fullM}</strong></td>
                        //                 <td style="font-size: 19px;" class="text-center"><strong>${highestMark}</strong></td>
                        //                 <td style="font-size: 19px;" class="text-center"><strong>${FTR}</strong></td>
                        //                 <td style="font-size: 19px;" class="text-center"><strong>${FGP}</strong></td>
                        //                 <td style="font-size: 19px;" class="text-center"><strong>${FLG}</strong></td>
                        //                 </tr>`)
                        //             }
                        //             $('#marksheet').append(`<tr>
                        //                 <td style="font-size: 20px;padding: 0px 10px 0px 10px;"><strong>Total Exam Marks</strong></td>
                        //                 <td></td>
                        //                 <td style="font-size: 20px;padding: 0px 10px 0px 10px;"><strong>Obtained Marks</strong></td>
                        //                 <td style="font-size: 20px;padding: 0px 10px 0px 10px;" class="text-center"><strong>${f[2]}</strong></td>
                        //                 <td></td>
                        //                 <td></td>
                        //                 </tr>`)
                                    
                                    
                        //             let comment;
                        //             let queryForFGrade = 0;
                        //             if (f[1] == "A+") {
                        //                 comment = "Excellent"
                        //             } else if (f[1] == "A") {
                        //                 comment = "Very Good"
                        //             } else if (f[1] == "A-") {
                        //                 comment = "Very Good"
                        //             } else if (f[1] == "B+") {
                        //                 comment = "Good"
                        //             } else if (f[1] == "B") {
                        //                 comment = "Good"
                        //             } else if (f[1] == "B-") {
                        //                 comment = "Satisfactory"
                        //             } else if (f[1] == "C+") {
                        //                 comment = "Satisfactory"
                        //             } else if (f[1] == "C") {
                        //                 comment = "Pass"
                        //             } else if (f[1] == "D") {
                        //                 comment = "Pass"
                        //             } else if (f[1] == "F") {
                        //                 comment = "Fail"
                        //             }

                        //             for (let i = 0; i < lg.length; i++) {
                        //                 const e = lg[i];
                        //                 if (e == "F") {
                        //                     queryForFGrade++
                        //                 }
                        //             }
                                    
                        //             if (queryForFGrade > 0) {
                        //                 $('#firstTermGradeP').text(`0.00`)
                        //                 $('#resultStatus').text(`Failed`)
                        //                 $('#firstTermLGrade').text(`F`)
                        //                 $('#failedSubject').text(`${queryForFGrade}`)
                        //                 $('#comment').text(`Failed`)
                        //             } else {
                        //                 $('#firstTermGradeP').text(`${f[5]}`)
                        //                 $('#firstTermAdGP').text(`${f[6]}`)
                        //                 $('#resultStatus').text(`Passed`)
                        //                 $('#firstTermLGrade').text(`${f[1]}`)
                        //                 $('#failedSubject').text(`0`)
                        //                 $('#comment').text(`${comment}`)
                        //             }
                                    
                                    
                        //             // $('#marksheet').append(`<tr class="text-center">
                        //             //         <td><strong>Grade Obtained</strong></td>
                        //             //         <td><strong></strong></td>
                        //             //         <td><strong></strong></td>
                        //             //         <td><strong>${f[1]}</strong></td>
                        //             //         </tr>`)

                        //         } else if (data.annual_term_allMarks.length <= 0) {
                        //             let f = data.first_term_allMarks;
                        //             let flg = data.first_term_allMarks[3][0]
                        //             let fgp = data.first_term_allMarks[4][0]
                        //             let st = data.second_term_allMarks;
                        //             let slg = data.second_term_allMarks[3][0]
                        //             let sgp = data.second_term_allMarks[4][0]
                        //             $('#marksheet').empty()
                        //             $(".letterGradeHead").removeClass('hide')
                        //             $(".firstTermGradeDiv").removeClass('hide')
                        //             $(".secondTermGradeDiv").removeClass('hide')

                        //             for (let i = 0; i < subjects.length; i++) {
                        //                 let fullM = FM[i]
                        //                 let passM = PM[i]
                        //                 let s = subjects[i]
                        //                 let FTR = f[0][i]
                        //                 let STR = st[0][i]
                        //                 let FLG = flg[i]
                        //                 let FGP = fgp[i]
                        //                 let SLG = slg[i]
                        //                 let SGP = sgp[i]
                        //                 $('#marksheet').append(`<tr>
                        //                 <td><strong>${s}</strong></td>
                        //                 <td class="text-center">${fullM}</td>
                        //                 <td class="text-center"></td>
                        //                 <td class="text-center">${FTR}</td>
                        //                 <td class="text-center">${FLG}</td>
                        //                 <td class="text-center">${FGP}</td>
                        //                 <td class="text-center">${STR}</td>
                        //                 <td class="text-center">${SLG}</td>
                        //                 <td class="text-center">${SGP}</td>
                        //                 </tr>`)
                        //             }
                        //             $('#marksheet').append(`<tr class="text-center">
                        //                 <td><strong>Total Mark</strong></td>
                        //                 <td class="text-center"><strong>${totalMark}</strong></td>
                        //                 <td class="text-center"></td>
                        //                 <td class="text-center"><strong>${f[2]}</strong></td>
                        //                 <td class="text-center"></td>
                        //                 <td class="text-center"></td>
                        //                 <td class="text-center"><strong>${st[2]}</strong></td>
                        //                 </tr>`)
                        //             $('#firstTermLGrade').text(`${f[1]}`)
                        //             $('#firstTermGradeP').text(`${f[5]}`)
                        //             $('#secondTermGrade').text(`${st[1]}`)
                        //             $('#secondTermGradeP').text(`${st[5]}`)
                        //             // $('#marksheet').append(`<tr class="text-center">
                        //             //         <td><strong>Grade Obtained</strong></td>
                        //             //         <td></td>
                        //             //         <td></td>
                        //             //         <td class="text-center"><strong>${f[1]}</strong></td>
                        //             //         <td class="text-center"><strong>${st[1]}</strong></td>
                        //             //         </tr>`)   
                        //         }
                        //         else {
                        //             let f = data.first_term_allMarks;
                        //             let st = data.second_term_allMarks;
                        //             let a = data.annual_term_allMarks;
                        //             let flg = data.first_term_allMarks[3][0]
                        //             let fgp = data.first_term_allMarks[4][0]
                        //             let slg = data.second_term_allMarks[3][0]
                        //             let sgp = data.second_term_allMarks[4][0]
                        //             let alg = data.annual_term_allMarks[3][0]
                        //             let asgp = data.annual_term_allMarks[4][0]
                        //             let grandTotal = 0
                        //             $('#marksheet').empty()
                        //             $(".letterGradeHead").removeClass('hide')
                        //             $(".firstTermGradeDiv").removeClass('hide')
                        //             $(".secondTermGradeDiv").removeClass('hide')
                        //             $(".annualTermGradeDiv").removeClass('hide')
                        //             for (let i = 0; i < subjects.length; i++) {
                        //                 let fullM = FM[i]
                        //                 let passM = PM[i]
                        //                 let s = subjects[i]
                        //                 let FTR = f[0][i]
                        //                 let STR = st[0][i]
                        //                 let ATR = a[0][i]
                        //                 let FLG = flg[i]
                        //                 let FGP = fgp[i]
                        //                 let SLG = slg[i]
                        //                 let SGP = sgp[i]
                        //                 let ALG = slg[i]
                        //                 let AGP = sgp[i]
                        //                 $('#marksheet').append(`<tr>
                        //                 <td><strong>${s}</strong></td>
                        //                 <td class="text-center">${fullM}</td>
                        //                 <td class="text-center"></td>
                        //                 <td class="text-center">${FTR}</td>
                        //                 <td class="text-center">${FLG}</td>
                        //                 <td class="text-center">${FGP}</td>
                        //                 <td class="text-center">${STR}</td>
                        //                 <td class="text-center">${SLG}</td>
                        //                 <td class="text-center">${SGP}</td>
                        //                 <td class="text-center">${ATR}</td>
                        //                 <td class="text-center">${ALG}</td>
                        //                 <td class="text-center">${AGP}</td>
                        //                 </tr>`)
                                        
                        //             }
                        //             grandTotal += Number(f[5]) + Number(st[5]) + Number(a[5])

                        //             let finalGPA = grandTotal / 3;
                        //             finalGPA = finalGPA.toFixed(2)
                        //             // let arraySearch = FM.includes(50)
                        //             // let len = Number(a[0].length)
                        //             // let actualGrade = devidedGrade / len
                        //             let calculatedGrade

                        //             if (finalGPA > 3.99) {
                        //                 calculatedGrade = 'A+'
                        //             } else if (finalGPA > 3.74 && finalGPA <= 3.99) {
                        //                 calculatedGrade = 'A'
                        //             } else if (finalGPA > 3.49 && finalGPA <= 3.74) {
                        //                 calculatedGrade = 'A-'
                        //             } else if (finalGPA > 3.24 && finalGPA <= 3.49) {
                        //                 calculatedGrade = 'B+'
                        //             } else if (finalGPA > 2.99 && finalGPA <= 3.24) {
                        //                 calculatedGrade = 'B'
                        //             } else if (finalGPA > 2.74 && finalGPA <= 2.99) {
                        //                 calculatedGrade = 'B-'
                        //             } else if (finalGPA > 2.49 && finalGPA <= 2.74) {
                        //                 calculatedGrade = 'C+'
                        //             } else if (finalGPA > 2.24 && finalGPA <= 2.49) {
                        //                 calculatedGrade = 'C'
                        //             } else if (finalGPA > 1.99 && finalGPA <= 2.24) {
                        //                 calculatedGrade = 'D'
                        //             } else if (finalGPA <= 1.99) {
                        //                 calculatedGrade = 'F'
                        //             }

                        //             $('#marksheet').append(`<tr class="text-center">
                        //                 <td><strong>Total Mark</strong></td>
                        //                 <td class="text-center"><strong>${totalMark}</strong></td>
                        //                 <td></td>
                        //                 <td class="text-center"><strong>${f[2]}</strong></td>
                        //                 <td class="text-center"></td>
                        //                 <td class="text-center"></td>
                        //                 <td class="text-center"><strong>${st[2]}</strong></td>
                        //                 <td class="text-center"></td>
                        //                 <td class="text-center"></td>
                        //                 <td class="text-center"><strong>${a[2]}</strong></td>
                        //                 </tr>`)
                        //             $('#firstTermLGrade').text(`${f[1]}`)
                        //             $('#firstTermGradeP').text(`${f[5]}`)
                        //             $('#secondTermGrade').text(`${st[1]}`)
                        //             $('#secondTermGradeP').text(`${st[5]}`)
                        //             $('#annualTermGrade').text(`${a[1]}`)
                        //             $('#annualTermGradeP').text(`${a[5]}`)
                        //             $('.FinalAcquiredGrade').text(calculatedGrade)
                        //             $('.FinalAcquiredGradeDiv').removeClass('hide')
                        //             // $('#marksheet').append(`<tr class="text-center">
                        //             //         <td><strong>Grade Obtained</strong></td>
                        //             //         <td></td>
                        //             //         <td></td>
                        //             //         <td class="text-center"><strong>${f[1]}</strong></td>
                        //             //         <td class="text-center"><strong>${st[1]}</strong></td>
                        //             //         <td class="text-center"><strong>${a[1]}</strong></td>
                        //             //         </tr>`)
                        //         }

                        //         $('#totalMark').text(totalMark)
                        //         let FTA = data.FTermAttendance;
                        //         let STA = data.STermAttendance;
                        //         let ATA = data.ATermAttendance;
                        //         if (FTA.length > 0) {
                        //             let TC = FTA[0] // data.TC;
                        //             let TP = FTA[1] // data.presence;
                        //             let TL = FTA[2] // data.leaves;
                        //             let TA = FTA[3] // data.absence;
                        //             $('#TCFT').text(TC)
                        //             $('#TPFT').text(TP)
                        //             $('#TLFT').text(TL)
                        //             $('#TAFT').text(TA)
                        //         }
                        //         if (STA.length > 0) {
                        //             let TC = STA[0] // data.TC;
                        //             let TP = STA[1] // data.presence;
                        //             let TL = STA[2] // data.leaves;
                        //             let TA = STA[3] // data.absence;
                        //             $('#TCST').text(TC)
                        //             $('#TPST').text(TP)
                        //             $('#TLST').text(TL)
                        //             $('#TAST').text(TA)
                        //         }
                        //         if (TTA.length > 0) {
                        //             let TC = STA[0] // data.TC;
                        //             let TP = STA[1] // data.presence;
                        //             let TL = STA[2] // data.leaves;
                        //             let TA = STA[3] // data.absence;
                        //             $('#TCST').text(TC)
                        //             $('#TPST').text(TP)
                        //             $('#TLST').text(TL)
                        //             $('#TAST').text(TA)
                        //         }
                        //         if (ATA.length > 0) {
                        //             let TC = ATA[0] // data.TC;
                        //             let TP = ATA[1] // data.presence;
                        //             let TL = ATA[2] // data.leaves;
                        //             let TA = ATA[3] // data.absence;
                        //             $('#TCAT').text(TC)
                        //             $('#TPAT').text(TP)
                        //             $('#TLAT').text(TL)
                        //             $('#TAAT').text(TA)
                        //         }

                        //     }
                        // })

                        }
                })
            })

            function takePrint() {
                $("#topMargin").show()
                $("#addInfoDiv").removeClass("d-flex")
                $("#addInfoDiv").removeClass("justify-content-center")
                let result = document.getElementById('takePrint').innerHTML
                let body = document.body.innerHTML
                document.body.innerHTML = result
                // document.getElementsByClassName("customTable").style.marginRight = "50px";
                document.body.style.height = "11in"
                document.body.style.width = "8.5in"
                document.body.style.marginLeft = "13px"
                window.print()
                document.body.innerHTML = body
                document.body.style.height = "auto"
                document.body.style.width = "auto"
                location.reload()
            }
        </script>
        <!-- <style>
            @page {
                size: landscape;
            }
          </style> -->
</body>